# Ignore Maven target folder (build output)
target/

# IDE files
.idea/
*.iws
*.iml
*.ipr

.vscode/

.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
